In [3]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
latitude

33.9425

In [4]:
longitude

-118.408056

In [5]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

In [6]:
t = (20, 8)
divmod(*t)

(2, 4)

In [7]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [9]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [10]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [11]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [12]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [15]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [17]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [20]:
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [21]:
tokyo.population

36.933

In [22]:
tokyo.coordinates

(35.689722, 139.691667)

In [23]:
tokyo[1]

'JP'

In [24]:
City._fields

('name', 'country', 'population', 'coordinates')

In [26]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [27]:
for key, value in delhi._asdict().items():
        print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)